@media (max-width: 768px) {
    .App {
        display: flex;
        flex-direction: column
    }
}

.app-left {
    width: 30%;
    margin-left: 40px;
}

.app-right {
    width: 70%;
    text-align: left;
    margin-left: 50px;
}

.image {
    background-repeat: no-repeat;
    width: 300px;
    height: 300px
}

.background {
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;
}

.Experience, .Education, .Hobby {
    font-size: 20px;
}

.Skill {
    text-align: left;
}